@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html,
body {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.relative {
  background-color: black;
  height: auto;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.world {
  /*background-color: rgb(26, 255, 0);*/
  height: 100vh;
  width: 100%;
  z-index: 100;
}

.world2 {
  /*background-color: red;*/
  height: auto;
  width: 100%;
  z-index: 100;
}

.info {
  background-color: rgba(255, 0, 0, 0);
  height: 20vh;
  width: 50%;
  color: white;
}

.info-panel {
  position: absolute;
  top: 0;
  width: 40%; /* Ajusta el ancho según sea necesario */
  height: 100%;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: red;*/
  font-weight: bolder;
}

.main-title {
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: bolder;
}

.image-orbis {
  position: fixed;
  /*background-color: rgb(58,119,122);*/
  border-radius: 50%;
  width: 180px;
  bottom: 0;
  right: 0;
  margin-bottom: 20px; /* Puedes ajustar este valor para dejar espacio entre la imagen y el borde inferior */
  margin-right: 20px; /* Puedes ajustar este valor para dejar espacio entre la imagen y el borde derecho */
}

.conoce {
  background-color: rgb(47,51,83);
}